* {
    box-sizing: border-box;
  }

.hidden {
      display: none;
  }
  
.logo {
    list-style: none;
}

.logo img{
    height: 170px;
    width: 170px;
    float: left;
    list-style: none;
    position: relative;
    top: -40px;
}

  .navbar {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    border-width: 1px;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 9999;
    display: block;
    height: 90px;
  
}

.navbar-main {
    padding: 0;
    margin: 0;
    list-style: none;

    float: right;
}

.nav-link {
    padding: 14px 16px;
    display: inline-block;
   
}

.navbar-header {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center


}

/*////////////////////////////////////////
MAIN HERO / ABOUT SECTION
////////////////////////////////////////*/

.about-section {
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    align-items: center;
    display: block;
    background-image: url(/images/undraw_happy_women_day_fbjt.svg);
    background-size: contain;
    /* background: left; */
    background-repeat: no-repeat;
    background-position: right;
}
    

.about-col-1 {
    /* width: 400px; */
    /* padding-left: 10px;
    margin-left: 70px;
    margin-right: 70px; */
    display: inline-block;
    width: 500px;
    padding: 60px;
    margin: 30px;
}

.about-col-1 > h1 {
    font-size: 50px;
    line-height: 0.3;
}

h2 {
   font-size: 30px; 
}

.about-col-2 {
    display: inline-block;
    padding-left: 50px;
}
.hero-image {
    height: 290px;
    width: 400px;
}

/*////////////////////////////////////////
CHERISH YOUR COMMUNITY SECTION
////////////////////////////////////////*/


.community-section {
    /* border: solid; */
    text-align: center;
    padding: 40px;
    margin: 40px;
}

.community-row-1 > p {
    margin: auto;
    width: 50%;
    padding: 10px;
    
}

.join-cherish-btn {
    margin: 40px;
    width: 170px;
    height: 50px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/*////////////////////////////////////////
IDENTIFYING ABUSE SECTION
////////////////////////////////////////*/


.identify-abuse {
    /* border: solid; */
    padding: 50px;
    background-color: #D0CDE1;
}

.identify-abuse .title-row-1 {
    text-align: center;
    margin: 50px;
}

.btn-row-2 {
    display: flex;   
    justify-content: center;
}

.btn-row-2 .btn-1, .btn-row-2 .btn-2 {
    margin: 40px;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn-row-2 .btn-1 > a {
    text-decoration: none;
}

.btn-row-3 {
    display: flex;   
    justify-content: center;
}

.btn-row-3 .btn-3, .btn-row-3 .btn-4 {
    margin: 40px;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*////////////////////////////////////////
CONFIDENTIAL HELP SECTION 
////////////////////////////////////////*/

.help-section {
    /* border: solid; */
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.help-col-1 {
    display: inline-block;
    padding-left: 50px;
    /* margin: auto; */
    /* width: 50%; */
    /* border: 3px solid green; */
    padding: 10px;
}

.help-col-2 {
    /* width: 400px; */
    /* border: solid; */
    /* padding-left: 10px;
    margin-left: 70px;
    margin-right: 70px; */
    display: inline-block;
    padding: 30px;
    height: 290px;
    width: 400px;
}

.help-image {
    height: 290px;
    width: 600px;
}

/*////////////////////////////////////////
<<<<<<< HEAD
RESOURCES AND SUPPORT SECTION
////////////////////////////////////////*/

.support-section {
    /* border: solid; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #D0CDE1;
}

.support-imgs {
    height: 140px;
    width: 140px;
    padding-top: 10px;
}

.box-row-1 {
    flex-direction: row;
    text-align: center;
    border: none;
    background-color: white;
    border-radius: 8px;
    /* height: 40vh; */
    width: 40vh;
    margin: 40px;
    line-height: 1.1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.box-row-1 > h5 {
    font-size: 20px;
}

.footer-section {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}

.footer-content {
    margin: auto;
    width: 50%;
}
/* =======
CHECKLIST PAGE HERO SECTION
//////////////////////////////////////* */
.checkListHero {
    width: 100%;
    height: 50%;
    display: flex;
    flex-basis: 80%;
    justify-content: space-evenly;
}

.checkListHeroLeft,
.checkListHeroRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.checkListHeroLeft * {
    width: 95%;
    padding: 3%;
}
.checkList {
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkList ul {
    list-style-image: url(../images/checkbox-unchecked.svg);
}

/* =======
IDENTIFYING SIGNS OF ABUSE
//////////////////////////////////////* */

.identify-section {
    margin-bottom: 10px;
    align-items: center;
    display: block;
    background-image: url(/images/undraw_happy_women_day_fbjt.svg);
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position: right;
}

.identify-col-1 {
    /* width: 400px; */
    /* padding-left: 10px;
    margin-left: 70px;
    margin-right: 70px; */
    /* display: inline-block; */
    width: 500px;
    padding: 60px;
    margin: 30px;
}

.identify-col-1 > h1 {
    font-size: 50px;
    line-height: 1.3;
}


.common-signs {
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-row-2 > p {
    font-family: 
}
.box-row-2 > img {
    padding-right: 2px;
}
.list-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}