* {
    box-sizing: border-box;
  }
  

  .navbar {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    border-width: 1px;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 9999;
    display: block;
    height: 90px;
  
}

.navbar-main {
    padding: 0;
    margin: 0;
    list-style: none;

    float: right;
}

.nav-link {
    padding: 14px 16px;
    display: inline-block;
   
}

.logo {
    list-style: none;
}

.logo img{
    height: 120px;
    width: 120px;
    float: left;
    list-style: none;
    position: relative;
    top: -40px;
}

.search li {
    display: inline-block;
    float: right;
}
/* .main-nav {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    border-width: 1px;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 9999;
    display: block;
} */

.about-section {
    border: solid;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.about-col-1 {
    width: 300px;
    border: solid;
    padding-left: 50px;
}